<div class="modal">
    <a href="#" class="btn-modal-close" data-toggle="tooltip"
       data-placement="bottom" title="close">
        <span class="fa fa-remove"></span>
    </a>
    <div class="modal-container">
    {% block content %}{% endblock %}
    </div>
</div>