<div class="my-modal">
    <a href="#" class="btn-modal-close" data-toggle="tooltip"
       data-placement="bottom" title="close">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <div class="my-modal-container">
    {% block content %}{% endblock %}
    </div>
</div>