{% extends 'AppBundle::modal.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="modal-header">
        {% block header %}

        {% endblock %}
    </div>
    <div class="modal-body">
        {% block body %}

        {% endblock %}
    </div>
    <div class="modal-footer">
        {% block footer %}

        {% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}
