# This file is a "template" of what your parameters.yml file should look like
parameters:
    taskwarrior_taskrc: ~/.taskrc
    taskwarrior_data: ~/.task

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    reports: ["next", "all", "overdue", "recurring"]
    default_report: next

    username: dothings
    password: dothings

    urgency_threshold_high: 20
    urgency_threshold_medium: 10
