{% extends 'AppBundle::modal_form.html.twig' %}

{% block header %}
    <h1>Create new task</h1>
{% endblock %}

{% block body %}
    {{ form_widget(form) }}
{% endblock %}

{% block footer %}
    {{ form_widget(form.submit) }}
{% endblock %}