@import "variables";
@import "bootstrap";

body {
    background: $body-bg;
    color: #fff;
}

.brand {
    background: $brand-primary;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 20px;

.name {
    font-size: 40px;

}

.slogan {
    font-size: 20px;
    color: #f3efe0;
}
}

.nav-btn-container {
    position: absolute;
    top: -10px;
    left: 10px;
}

.logout-btn-container {
    position: absolute;
    top: -10px;
    right: 10px;
}

.menu {
li {
    border-bottom: 1px solid $brand-primary;

.badge {
    float: right;
    background: $brand-primary;
}

a {
    padding: 10px;
    display: block;

&:hover {
     text-decoration: none;
     background: $brand-primary;
     color: #fff;
 }
}

&.header {
     padding: 30px 10px 10px 10px;
     font-weight: bold;
 }
}
}

.st-menu {
    overflow-y: auto;
    background: $body-bg;
    padding: 5px;

.menu {
li {
    border-bottom: 1px solid #fff;

.badge {
    float: right;
    background: #fff;
    color: $body-bg;
}

a {
    color: #fff;

&:hover {
     background: #fff;
     color: $body-bg;
 }
}

&.header {
     color: #fff;
 }
}
}
}

.st-content {
    color: #4E3F30;
}

.my-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: $body-bg;
    color: #fff;
    padding: 40px 20px 20px 20px;

    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

a {
    color: #fff;
}

.btn-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

&.open {
     opacity: 1;
 }

.my-modal-container {
    max-width: 720px;
    margin: 0 auto;
}
}

.btn-secondly {
@include button-variant(#fff, $body-bg, #fff);
}

.urgency-high {
    border-left:0.3em solid red;
}

.urgency-medium {
    border-left:0.3em solid orange;
}
