:root {
    --background-color: #34495E;
    --primary: #2ECC71;
    --text-color: #ECF0F1;
    --text-color-darker: #95A5A6;

    --link-color: var(--primary);

    --navbar-size: 250px;
    --navbar-bg: #2C3E50;
    --navbar-color: var(--text-color-darker);
    --navbar-logo-color: var(--primary);
    --navbar-link-color: var(--text-color);
    --navbar-link-hover: var(--primary);
}
