<div class="brand">
    <div class="nav-btn-container">
        <a href="#" class="btn btn-primary btn-nav hidden-md hidden-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>

    doThings!<br/>
    <a href="{{ add_link }}" class="btn btn-primary modal-ajax">Create Task</a>
</div>