<div class="brand">
    <div class="nav-btn-container">
        <a href="#" class="btn btn-primary btn-nav hidden-md hidden-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>

    <div class="logout-btn-container">
        <a href="{{ path('logout') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </div>

    <a href="{{ add_link }}" class="btn btn-primary modal-ajax">Create Task</a>
</div>